@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap");

/* Color Variables */
:root {
  --blue: rgb(15, 20, 50);
  --red: rgb(255, 0, 30);
  --gold: rgb(255, 170, 0);
  --white: #fff;
  --black: #333;
  --background-colour: #f4f4f4;
  --red-focus: rgba(255, 0, 30, 0.5);
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  color: var(--black);
  background-color: var(--background-colour);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 16px;
}

h1,
h2 {
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--blue);
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: var(--blue);
}

p {
  font-size: 1.2rem;
  margin-bottom: 12px;
  text-align: center;
  color: var(--red);
}

button {
  background-color: var(--red);
  color: var(--white);
  padding: 12px;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  &:hover {
    background-color: var(--blue);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px var(--red-focus);
  }
  &:disabled {
    background-color: #ccc;
    color: #666;
  }
}

.back-button {
  background: none;
  border: none;
  color: var(--red);
  cursor: "pointer";
  display: "flex";
  align-items: "center";
  margin-bottom: 20px;
}

.cancel-button {
  background: none;
  border: none;
  color: var(--red);
  cursor: "pointer";
  display: "flex";
  align-items: "center";
}

/* Header & Navbar */
header {
  background-color: var(--blue);
  padding: 20px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 28px;
  form {
    margin: 2px 24px 0 0;
  }
}

nav {
  display: flex;
  justify-content: start;
  background-color: var(--blue);
  padding: 10px 0 10px 72px;
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
  }
  a {
    color: var(--gold);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    display: block;
    &:hover {
      background-color: var(--red);
      border-radius: 50px;
      color: var(--white);
    }
  }
}

/* Main Content */
main {
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 900px;
}

/* Form Styles */
form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: var(--blue);
  margin-top: 24px;
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--black);
  &:focus {
    border-color: var(--red);
    outline: none;
  }
}

/* News card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
  flex: 0 0 auto;
  max-width: 450px;
  max-height: 450px;
  img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  .container {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: left;
    h4 {
      font-size: 2.5rem;
      padding-left: 16px;
    }
    p {
      font-size: 1.2rem;
      text-align: start;
      padding: 8px 16px;
      color: gray;
    }
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

/* Player profile */
.player-info {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  img {
    border-radius: 50%;
    max-width: 225px;
  }
  p {
    text-align: left;
  }
}

.player-profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.player-profile-list h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.player-profile-list .player-card {
  width: 300px;
  margin: 0 16px;
}

/* Player Card */
.player-card {
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-card img {
  width: 100%;
  height: auto;
}

.player-card .player-name {
  padding: 8px;
  background-color: #f8f8f8;
  font-weight: bold;
}

.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-info-left-aligned {
  justify-content: left;
  margin-top: 80px;
}

.like-button.liked {
  background-color: var(--blue);
  color: var(--white);
}

/* Image card */
.gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 0.3s ease;
  img {
    max-width: 350px;
    height: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

/* Image carousel */
.news-carousel {
  display: flex;
  gap: 20px;
  overflow: hidden;
  max-width: 1000px;
  padding: 0 8px;
  height: 480px;
  margin-top: 40px;
  user-select: none;
}

.news-carousel .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-carousel .carousel .slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-carousel .carousel .control-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.news-carousel .carousel .control-dots .dot {
  background: var(--red);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.news-carousel .carousel .control-dots .dot.selected {
  background: var(--blue);
}

/* Card styles */
.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.01);
  }
}

.card-img {
  width: 100%;
  height: auto;
}

.card-container {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

/* History gallery */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 20px;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--white);
  }
  p {
    color: var(--white);
    text-align: start;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

/* Fan engagement table */
.fan-engagement-card {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  button {
    width: 100%;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    thead tr {
      background-color: var(--blue);
      color: var(--white);
    }
    th,
    td {
      padding: 12px;
      text-align: center;
      font-size: 1rem;
    }
    th {
      font-weight: bold;
    }
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}

.fan-engagement-card tbody tr:hover {
  background-color: #e6f7ff;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 40% auto;
  padding: 20px;
  width: 350px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
    margin-bottom: 32px;
  }
}

/* Video Modal */
.video-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-modal.show {
  display: flex;
}
.video-modal iframe {
  width: 885px;
  height: 500px;
  border: none;
}

.terms-page {
  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: var(--blue);
    text-align: left;
  }
  h1 {
    margin-top: 80px;
    font-size: 3.5rem;
    text-align: center;
  }
  h2,
  h3,
  h4 {
    margin-top: 30px;
  }
}

.highlight {
  background-color: yellow;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  font-size: 1rem;
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }

  form {
    width: 100%;
  }

  input,
  textarea {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  nav ul {
    flex-direction: column;
  }
}
